[DOME-TEST]

[grid]
upn = 11
ewn = 188
nsn = 351
dew = 8000
dns = 8000
sigma_builtin = 1
sigma_file = 

[time]
tstart = 0.0
tend = 1000.0
dt = 10
subcyc = 30

[options]
ioparams = 
dycore = 3              # 0 = glide, 1 = glam, 2 = glissade, 3 = felixFO
flow_law = 0
evolution = 5           # 3 = remapping, 5 = evolve temp. but hold geom. fixed
temperature = 1

[ho_options]
which_ho_approx = 2
which_ho_babc = 5       # 4 = no-slip at bed; 5 = use the beta field in the input .nc file for tuned sliding field
which_ho_efvs = 2       # 0 = constant, 2 = nonlinear eff. visc. w/ n=3
which_ho_sparse = 4     # 1 = SLAP GMRES, 4 = Trilinos for linear solver
which_ho_nonlinear = 1  # 0 = Picard, 1 = JFNK
which_ho_gradient_margin = 2

[parameters]
flow_factor = 1.
ice_limit = 10.          # min ice thickness (m) for calc. mom. balance soln.

[CF default]
comment = 1 km res. Greenland init. cond. file, using newest datasets assembled under PISCEES
title = Greenland 1 km resolution init. cond. input file for PISCEES

[projection]
type = STERE
centre_longitude = 321.0
centre_latitude = 90.0
false_easting = 800000.0
false_northing = 3400000.0
standard_parallel = 71.0

[CF input]
name = GIS.8km.InitCond.4Albany.00000_00000.out.nc

[CF output]
variables = restart
name = GIS.8km.InitCond.4Albany.00000_01000.out.nc
frequency = 100.0
xtype = double

[external_dycore_options]
external_dycore_type = 2 #2 = Albany/FELIX
dycore_input_file = input_albany-cism.xml
debug_output_verbosity = 1 #0 = no output, 1 = minimal output on 1 proc, 2 = a lot of output
use_lateral_bcs = 1
use_dirichlet_bcs = 0
use_glissade_surf_height_grad = 1

