[DOME-TEST]

[grid]
upn = 11
ewn = 188
nsn = 351
dew = 8000
dns = 8000
sigma_builtin = 1
sigma_file =

[time]
tstart = 0.0
tend = 100.0
dt = 1.0		# overall time step to use (e.g., for vel. solves)
subcyc = 20		# numb. of subcycles to do (e.g. for temp. solver; settings here give temp. solve and advection every 10/200=0.05 yrs)			

[options]
ioparams =
dycore = 2              # 0 = glide, 1 = glam, 2 = glissade, 3 = felixFO
flow_law = 2            # 0 = constant, 2 = Paterson-Budd
evolution = 3           # 3 = remapping, 5 = evolve temp. but hold geom. fixed
temperature = 1         # 0 = use air temp for column temps, 1 = prognostic, 2 = hold temps. fixed at init. values, 3 = enthalpy (untested)

[ho_options]
which_ho_approx = 2     # 4 = depth-int. higher-order solver (DIVA), 2 = Blatter-Pattyn
which_ho_babc = 5       # 4 = no-slip at bed; 5 = use the beta field in the input .nc file for tuned sliding field
which_ho_efvs = 2       # 0 = constant, 2 = nonlinear eff. visc. w/ n=3
which_ho_sparse = 3     # 1 = SLAP GMRES, 4 = Trilinos for linear solver
which_ho_nonlinear = 0  # 0 = Picard, 1 = JFNK
which_ho_gradient_margin = 2
which_ho_precond = 2    # 1 = diag. precond. (needed for use w/ DIVA), 2 = physics-based (SIA)
#glissade_maxiter = 200  # default is 100

[parameters]
flow_factor = 1.
ice_limit = 10.          # min ice thickness (m) for calc. mom. balance soln.

[CF default]
comment = 1 km res. Greenland init. cond. file, using newest datasets assembled under PISCEES
title = Greenland 1 km resolution init. cond. input file for PISCEES

[CF input]
name = GIS.8km.InitCond.4Albany.09000_10000.out.nc
time = 11

## specify output fields: this is the approx. min needed to do a restart from the output
## 'freq' is how often (yrs) do we want to write output? 
[CF output]
variables = thk usurf topg bheatflx acab bmlt dthckdtm uvel vvel wvel temp beta calving iarea iareag iareaf ivol rho_ice artm flwa	
name = GIS.8km.Const.4Glissade.out.nc
frequency = 5.0 


