[DOME-TEST]

[grid]
upn = 11
ewn = 1501
nsn = 2801
dew = 1000
dns = 1000
sigma_builtin = 1
sigma_file =

[time]
tstart = 0.0
tend = 0.0
#tend = 10000.0
dt = 10.0		# overall time step to use (e.g., for vel. solves)
subcyc = 200		# numb. of subcycles to do (e.g. for temp. solver; settings here give temp. solve and advection every 10/200=0.05 yrs)			

[options]
ioparams =
dycore = 2              # 0 = glide, 1 = glam, 2 = glissade, 3 = felixFO
flow_law = 2            # 0 = constant, 2 = Paterson-Budd
evolution = 5           # 3 = remapping, 5 = evolve temp. but hold geom. fixed
temperature = 1         # 0 = use air temp for column temps, 1 = prognostic, 2 = hold temps. fixed at init. values, 3 = enthalpy (untested)
temp_init = 2           # 1 = use air temp for init. column temps, 2 = linear w/ depth, from T=artm at sfc to T_pmp at bed

[ho_options]
which_ho_approx = 4     # 4 = depth-int. higher-order solver (DIVA)
which_ho_babc = 5       # 4 = no-slip at bed; 5 = use the beta field in the input .nc file for tuned sliding field
which_ho_efvs = 2       # 0 = constant, 2 = nonlinear eff. visc. w/ n=3
which_ho_sparse = 3     # 1 = SLAP GMRES, 4 = Trilinos for linear solver
which_ho_nonlinear = 0  # 0 = Picard, 1 = JFNK
which_ho_precond = 1	# 1 = diag. precond. (needed for use w/ DIVA)
which_ho_gradient_margin = 2

[parameters]
flow_factor = 1.
ice_limit = 10.          # min ice thickness (m) for calc. mom. balance soln.

[CF default]
comment = 1 km res. Greenland init. cond. file, using newest datasets assembled under PISCEES
title = Greenland 1 km resolution init. cond. input file for PISCEES

## how often (yrs) do we want to write output? here its every 100 yrs
[CF input]
name = GIS.1km.InitCond.4Glissade.nc

## specify output fields: this is the approx. min needed to do a restart from the output
## 'freq' is how often (yrs) do we want to write output? here its every 100 yrs
[CF output]
variables = thk topg artm acab beta bheatflx temp uvel vvel flwa	
name = GIS.1km.InitCond.4Glissade.out.nc
frequency = 100.0 

